<div class="container-fluid">
  <div class="row bg-primary">
    <div class="d-flex justify-content-center">
      <h6 class="text-white py-2" >Relevé de mon compte</h6>
    </div>
  </div>

  <div class="row mt-3">
    <div class="d-flex justify-content-between" >
      <div class="col-md-6">
        <div class="d-flex justify-content-start">
          <div class="input-group">
            <label class="form-label mt-1 me-4"><strong>Année : </strong></label>
            <input type="search" class="form-control input-option" />
            <button type="button" class="btn btn-info btn-sm text-white search-btn">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="d-flex justify-content-end">
          <button type="button" class="btn btn-success btn-sm btn-w" (click)="showModalDepot()">
            Dépôt
          </button>

          <button type="button" class="btn btn-danger btn-sm ms-4 btn-w" (click)="showModalRetrait()">
            Retrait
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <hr class="bg-black border-2 border-dark border-top">
    </div>
  </div>

  <div class="col-md-12">
<!--    <div class="mt-2" *ngFor="let tData of tableElement">-->
<!--      <div *ngFor="let an of tData.annee">-->
<!--        -->
<!--      </div>-->

<!--    </div>-->

    <div class="col-md-12" >
      <table class="table table-bordered table-hover table-responsive table-sm" >
        <thead>
        <tr>
          <th >#</th>
          <th >Nature</th>
          <th >Référence</th>
          <th >Dépot</th>
          <th >Retrait</th>
        </tr>
        </thead>
        <tbody>
<!--          <ng-container *ngFor="let tEl of tableElement">-->
<!--            <ng-container *ngFor="let an of tEl.annee">-->
<!--              -->
<!--            </ng-container>-->
<!--          </ng-container>-->

          <ng-container *ngFor="let trimestreData of trimestrDatas">
            <tr>
              <td colspan="5">{{trimestreData.trimestre}}</td>
            </tr>
            <tr *ngFor="let compt of data">
              <td>{{compt.id}}</td>
              <td *ngIf="compt.nature == 1">Dépot</td>
              <td *ngIf="compt.nature == 2">Retrait</td>
              <td>{{compt.reference}}</td>
              <td *ngIf="compt.nature == 1">{{compt.montant}}</td>
              <td *ngIf="compt.nature == 2"></td>
              <td *ngIf="compt.nature == 2">{{compt.montant}}</td>
              <td *ngIf="compt.nature == 1"></td>
            </tr>
            <tr>
              <td colspan="3">Sous-total</td>
              <td>{{trimestreData.totalDepot}}</td>
              <td>{{trimestreData.totalRetrait}}</td>
              <td>{{trimestreData.sousTotal}}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>


<ng-template #modalDepot >
  <form (ngSubmit)="saveDepot()" [formGroup]="editFormDepot">
    <div class="modal-header bg-primary text-white">
      <div class="d-flex align-items-center">
        <h5 class="modal-title align-items-center">Dépot d'argent</h5>
      </div>
      <button type="button" class="btn btn-sm float-end" (click)="closeD()">
        <i class="fa fa-close fa-2x text-white"></i>
      </button>
    </div>

    <div class="modal-body">
      <div class="row">
        <div class="col-md-6">
          <fieldset>
            <legend><span class="text-danger">Période</span></legend>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group mt-1">
                  <label class="form-label">Année</label>
                  <input type="text" class="form-control" formControlName="annee"/>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group mt-1">
                  <label class="form-label">Trimestre</label>
                  <input type="text" class="form-control" formControlName="trimestre"/>
                </div>
              </div>
            </div>
          </fieldset>

        </div>
        <div class="col-md-6">
          <fieldset>
            <legend><span class="text-danger">Période</span></legend>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group mt-1">
                  <label class="form-label">Déposé par</label>
                  <input type="text" class="form-control" formControlName="nom"/>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group mt-1">
                  <label class="form-label">Référence</label>
                  <input type="text" class="form-control" formControlName="reference"/>
                </div>
              </div>
            </div>
          </fieldset>

        </div>
      </div>
      <div class="row bg-success mt-3">
        <div class="d-flex justify-content-center">
          <h6 class="text-white py-1 px-1">{{ editFormDepot.getRawValue().reference == null ? 'Afficher la référence' : editFormDepot.getRawValue().reference }}</h6>
        </div>
      </div>

      <div class="col-md-4 mt-4">
        <div class="input-group">
          <label class="form-label mt-1 me-3"><strong>Montant </strong></label>
          <input type="text" class="form-control" formControlName="montant"/>
        </div>
      </div>
    </div>

    <div class="modal-footer d-flex justify-content-end">
      <button type="button" class="btn btn-sm btn-danger" (click)="closeD()">
        Annuler
      </button>

      <button type="submit" class="btn btn-sm btn-primary" [disabled]="editFormDepot.invalid">
        Enregistrer
      </button>
    </div>
  </form>
</ng-template>

<ng-template #modalRetrait >
  <form (ngSubmit)="saveRetrait()" [formGroup]="editFormRetrait">
    <div class="modal-header bg-primary text-white">
      <div class="d-flex align-items-center">
        <h5 class="modal-title align-items-center">Retrait d'argent</h5>
      </div>
      <button type="button" class="btn btn-sm float-end" (click)="closeR()">
        <i class="fa fa-close fa-2x text-white"></i>
      </button>
    </div>

    <div class="modal-body">
      <div class="row">
        <div class="col-md-6">
          <fieldset>
            <legend><span class="text-danger">Période</span></legend>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group mt-1">
                  <label class="form-label">Année</label>
                  <input type="text" class="form-control" formControlName="annee"/>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group mt-1">
                  <label class="form-label">Trimestre</label>
                  <input type="text" class="form-control" formControlName="trimestre"/>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="col-md-6">
          <fieldset>
            <legend><span class="text-danger">Retrait</span></legend>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group mt-1">
                  <label class="form-label">Retiré par</label>
                  <input type="text" class="form-control" formControlName="nom"/>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group mt-1">
                  <label class="form-label">Référence</label>
                  <input type="text" class="form-control" formControlName="reference"/>
                </div>
              </div>
            </div>
          </fieldset>

        </div>
      </div>
      <div class="row bg-danger mt-3">
        <div class="d-flex justify-content-center">
          <h6 class="text-white py-1 px-1">{{ editFormRetrait.getRawValue().reference == undefined ? 'Afficher la référence' : editFormRetrait.getRawValue().reference }}</h6>
        </div>
      </div>

      <div class="col-md-4 mt-4">
        <div class="input-group">
          <label class="form-label mt-1 me-3"><strong> Montant </strong></label>
          <input type="number" class="form-control" formControlName="montant"/>
        </div>
      </div>
    </div>

    <div class="modal-footer d-flex justify-content-end">
      <button type="button" class="btn btn-sm btn-danger" (click)="closeR()">
        Annuler
      </button>

      <button type="submit" class="btn btn-sm btn-primary" [disabled]="editFormRetrait.invalid">
        Enregistrer
      </button>
    </div>
  </form>
</ng-template>
